/* Base styles for toolbar */
mat-toolbar.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  background-color: white;
  color: black;
  z-index: 10;
}

.logo {
  height: 40px;
}

.spacer {
  flex: 1 1 auto;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 65px;
}

.header {
  text-decoration: none;
  padding: 0 10px;
  font-size: large;
  color: black;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  font-size: large;
  color: white;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-menu{
  margin-top: 10px;
}


.dropdown-menu button:hover{
  background-color: #45A049;
}

/* Mobile view styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Show hamburger icon on mobile */
  
   

  }

  .nav-container {
    display: none; /* Hide nav links by default on mobile */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    padding: 10px 0;
    background-color: #4caf50;
    padding-left: 100px;
    
  }

  .nav-container.show {
    display: flex; /* Show nav links when menu is toggled */
  }

  .header, .nav-link {
    width: 100%;
    text-align: center;
    padding: 10PX 0;
    font-size: small;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 5px; /* Space between icons */
  }

  .example-icon {
    font-size: 24px; /* Smaller icon size for mobile view */
  }

  
}
