<footer class="footer">
    <div class="box-container">
      <div class="box">
        <h3>Head Office</h3>
        <p>
          <mat-icon>place</mat-icon> RK group Pvt Ltd<br>
          Corporate<br>
          Ameerpet, lalbanglaw,<br>
          Hyderabad-500032.
        </p>
        <div class="share">
          <button mat-icon-button aria-label="Facebook">
            <mat-icon>facebook</mat-icon>
          </button>
          <button mat-icon-button aria-label="Twitter">
            <mat-icon>twitter</mat-icon>
          </button>
          <button mat-icon-button aria-label="Instagram">
            <mat-icon>instagram</mat-icon>
          </button>
          <button mat-icon-button aria-label="LinkedIn">
            <mat-icon>linkedin</mat-icon>
          </button>
        </div>
      </div>
      <div class="box">
        <h3>Contact info</h3>
        <a href="#" class="links">
          <mat-icon>phone</mat-icon> +040-45006298
        </a>
        <a href="#" class="links">
          <mat-icon>phone</mat-icon> +111 222 333
        </a>
        <a href="mailto:rkgroupcorporate&#64;gmail.com" class="links">
          <mat-icon>email</mat-icon> rkgroupcorporate&#64;gmail.com
        </a>
      </div>
      <div class="box">
        <h3>Quick Links</h3>
        <a routerLink="/home" class="links">
          <mat-icon>arrow_forward</mat-icon>Home
        </a>
        <a routerLink="/about" class="links">
          <mat-icon>arrow_forward</mat-icon>About Us
        </a>
        <a routerLink="/agriculture" class="links">
          <mat-icon>arrow_forward</mat-icon>Services
        </a>
        <a routerLink="/contact" class="links">
          <mat-icon>arrow_forward</mat-icon>Contact Us
        </a>
      </div>
    </div>
  </footer>


  