<footer class="footer">
    <div class="box-container">
      <div class="box">
        <h3>Head Office</h3>
        <p>
          <mat-icon>place</mat-icon> RK group Pvt Ltd<br>
          Corporate<br>
          Ameerpet, lalbanglaw,<br>
          Hyderabad-500032.
        </p>
        <div class="share">

         <a href="https://www.facebook.com/profile.php?id=61561320161884" target="_blank">
          <button mat-icon-button aria-label="facebook">
            <mat-icon svgIcon="facebook"></mat-icon>
          </button>
         </a>

          <a href="https://www.instagram.com/rkgrouppvtltdcorporate_01/?hl=en" target="_blank">
          <button mat-icon-button aria-label="instagram">
          <mat-icon svgIcon="instagram"></mat-icon>
          </button>
          </a>
          
        
          <button mat-icon-button aria-label="linkedIn">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </button>
        </div>
      </div>
      <div class="box">
        <h3>Contact info</h3>
        <a href="#" class="links">
          <mat-icon>phone</mat-icon> +040-45006298
        </a>
        <a href="mailto:rkgroupcorporate&#64;gmail.com" class="links">
          <mat-icon>email</mat-icon> rkgroupspvtltd01&#64;gmail.com
        </a>
      </div>
      <div class="box">
        <h3>Quick Links</h3>
        <a routerLink="/home" class="links">
          <mat-icon>arrow_forward</mat-icon>Home
        </a>
        <a routerLink="/about" class="links">
          <mat-icon>arrow_forward</mat-icon>About Us
        </a>
        <a routerLink="/agriculture" class="links">
          <mat-icon>arrow_forward</mat-icon>Services
        </a>
        <a routerLink="/careers" class="links">
          <mat-icon>arrow_forward</mat-icon>Careers
        </a>
        <a routerLink="/contact" class="links">
          <mat-icon>arrow_forward</mat-icon>Contact Us
        </a>
      </div>
    </div>
  </footer>


  