<section class="sec1">
    <div class="section-content">
        <img mat-card-image class="img1" src="assets/images/railbanner.jpg" alt="Railways Banner">
        <h1>
            RAILWAYS
        </h1>
        <p class="para1">
            Welcome to RK Group Pvt Ltd., where we revolutionize the way you recruit talented manpower for the Indian Railways and Agriculture. RK Group got established in 2012 with dedicated staffing solutions, empower railway and farming needs to find the best talent in the industry, allowing you to focus on running your operations smoothly and efficiently.
        </p>
    </div>

    <div class="elementor-widget-container img-text-container">
        <img src="assets/images/railway.jpg" class="img-rounded corners img2" alt="Railways Image">
        <p class="para2">
            Electrical engineers in the Indian Railways play a vital role in keeping the trains running smoothly and safely. They are part of the prestigious Indian Railway Service of Electrical Engineers (IRSEE).
        </p>
        <p class="para3">
            They deal with the operation and maintenance of electric locomotives. Their tasks involve monitoring power consumption, ensuring crew safety and adherence to protocols, and analyzing locomotive performance data to identify potential problems. They may also be involved in coordinating with workshops for repairs and scheduling maintenance activities.
        </p>
    </div>
</section>
<app-footer></app-footer>
