.features {
    text-align: center;
    padding: 2rem 0;
    background: #ebebff;
    background: #eee;
  }
  
  .heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 2rem;
    color:black;
    
}

  .heading span{
    background-color:green;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
  
  .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .box {
    width: 300px;
    transition: opacity 0.5s ease-in;
    opacity: 0;
  }

  .box.visible{
    opacity: 1;
  }
  
  .mat-card {
    text-align: left;
  }
  
  .mat-card img {
    height: 150px;
    object-fit: cover;
  }
  
  p{
    font-size: 16px;
  }

  @media (max-width: 600px) {

    .heading{
      font-size: 1.5rem;
    }
  }
  
  