.features {
    text-align: center;
    padding: 2rem 0;
    background: #ebebff;
    background: #eee;
  }
  
  .heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 2rem;
    color:black;
    
}

  .heading span{
    background-color:green;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
  
  .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .box {
    width: 350px;
    transition: opacity 0.5s ease-in;
    opacity: 0;
  }

  .box-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    
  }

  .box.visible{
    opacity: 1;
  }
  

  
  mat-card img {
    height: 250px;
    object-fit: cover;
    width: 345px;
    text-align: center;
    padding: 20px;
  }
  
  p{
    font-size: 16px;
  }

  @media (max-width: 600px) {

    .heading{
      font-size: 1rem;
      padding: 0px;
    }

    .mat-card img{
      height: 200px;
    }

    .box-container{
      display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    
    }

    .box{
      padding: 20px;
      font-size: 14px;
    }
    .box img{
        padding: 50px;
        }
    p{
      font-size: 13px;
    }

    
  }
  