.sec1 {
    padding: 20px;
  }
  
  .text-center {
    text-align: center;
    
}

  .text-start{
 margin-top: 10px;
   width: 650px;
  }

  .last img{
    
   width: 650px;
  }
  
  .about-card {
    margin: 10px 0;
    padding: 10px;
  }
  
  .img-rounded {
    border-radius: 8px;
  }
  
  .corners {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }

  .img1{
    width: 100%;
  }
  