/* Base styles for About Us section */
.sec1 {
  padding: 20px;
}

.mat-headline {
  background-color:green;
  color: #fff;
 position: absolute;
  padding: .8rem 7rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container {
  flex: 1 1 auto;
  text-align: right;
}

.text-start {
  margin-top: 10px;
  width: 50%;
}

.img1 {
  width: 100%;
}

.img2 {
  width: 600px;
  height: 350px;
  margin-right: 13px;
  margin-top: 50px;
  
}

.about-card {
  /* flex: 1 1 auto;
  margin: 10px 0;
  padding: 10px;
  max-width: 600px; */
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.corners {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.para1{
  font-size: medium;
  display: flex;
  
}

.container-fluid{
  text-align: center;
  margin-left: 50px;
}


.content{
  margin-top: 65px;
}

/* Mobile view styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .text-start {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-card {
    width: 100%;
  }

  .img1, .img2 {
    width: 100%;
  }
}
