<div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <mat-icon class="mat-icon">location_on</mat-icon>
          <div class="topic">Address</div>
          <div class="text-one">RK group Pvt Ltd Corporate</div>
          <div class="text-two">6th Floor, Chandralok Complex</div>
          <div class="text-three">Paradise circle, Secundrabad</div>
          <div class="text-four">Telangana-500003</div>
        </div>
  
        <div class="phone details">
          <mat-icon class="mat-icon">phone</mat-icon>
          <div class="topic">Phone</div>
          <div class="text-one">+040-45006298</div>
          <div class="text-two">+111 222 333</div>
        </div>
  
        <div class="email details">
          <mat-icon class="mat-icon">email</mat-icon>
          <div class="topic">E-Mail</div>
          <div class="text-one">rkgroupcorporate &#64;gmail.com</div>
          <div class="text-two">+111 222 333</div>
        </div>
      </div>
  
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any work or any other type of queries, please send us a message</p>
  
        <form action="https://api.web3forms.com/submit" method="POST">
          
          <mat-form-field class="input-box" appearance="outline">
            <input type="hidden" name="access_key" value="7b41bb18-1d42-4a7d-9b4e-7e2be3f22ec1">
            <mat-label>Enter your name</mat-label>
            <input matInput name="name" placeholder="Enter your name" autofocus>
          </mat-form-field>
          <mat-form-field class="input-box" appearance="outline" autofocus>
            <mat-label>Enter your email</mat-label>
            <input matInput name="email" placeholder="Enter your email" autofocus>
          </mat-form-field>
          <mat-form-field class="input-box message-box" appearance="outline" autofocus>
            <mat-label>Message</mat-label>
            <textarea matInput name="Message" placeholder="Enter your message" autofocus></textarea>
           
          </mat-form-field>
          
          <div class="button">
            <button mat-raised-button color="primary">Send Now</button>
          </div>
        </form>

      </div>
    </div>

   
  </div>

  <div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.3687936366587!2d78.4856538747909!3d17.44205398345444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9b005b32df5d%3A0x21c65b743f3c6ccc!2sRK%20Group%20Pvt%20Ltd%20Corporation!5e0!3m2!1sen!2sin!4v1717409204968!5m2!1sen!2sin" width="99%" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

  <app-footer></app-footer>
  
