<div class="cart">
    <h2>Shopping Cart</h2>
    <div *ngIf="cartItems.length === 0">Your cart is empty.</div>
    <div *ngIf="cartItems.length > 0">
      <div *ngFor="let item of cartItems" class="cart-item">
        <img [src]="item.imgSrc" alt="{{ item.title }}" width="50">
        <span>{{ item.title }}</span>
        <span>{{ item.rating }} <mat-icon color="primary">star</mat-icon></span>
        <button mat-button color="warn" (click)="removeFromCart(item.title)">Remove</button>
      </div>
      <button mat-raised-button color="warn" (click)="clearCart()">Clear Cart</button>
    </div>
  </div>
  