#products {
    text-align: center;
    padding: 2rem 0;
    background: #ebebff;
    background: #eee;
  }
  
  #h2{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 2rem;
    color:black;
    
}

  #h2 span{
    background-color:orange;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
  
  .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .box {
    width: 350px;
    height: 400px;
  }
  
  .mat-card {
    text-align: left;
  }
  
  .box img {
    height: 220px;
    padding: 20px;
    width: 340px;
    
  }

  .box-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    
  }
  
  .stars {
    display: block;
  }
  
  .mat-icon {
    font-size: 1.5rem;
  }
  
  @media (max-width: 600px) {

    #h2{
      font-size: 1.5rem;
    }
  }