mat-form-field {
    width: 100%;
  }
  

  mat-card-content img {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
   
  }

  .container{
  
    justify-content: center;
    flex-wrap: wrap;

  }



