<section id="home" class="carousel-container">
  <mat-card class="carousel">
    <div class="carousel-inner" [ngStyle]="{ transform: 'translateX(' + (-currentIndex * 100) + '%)' }">
      <mat-card *ngFor="let slide of slides" class="carousel-item">
        <img mat-card-image [src]="slide.src" [alt]="slide.alt">
      </mat-card>
    </div>

    <div class="carousel-indicators">
      <span *ngFor="let slide of slides; let i = index" 
            [class.active]="i === currentIndex" 
            (click)="setCurrentIndex(i)">
      </span>
</div>

  </mat-card>
</section>
<app-features></app-features>
<app-footer></app-footer>
