.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    overflow: hidden;
    position: relative;
    padding: 0px 50px;
    
      }
  
  .carousel {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    height: 80px;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    border: none;
  }
  
  .carousel-control.prev {
    left: 10;
  }
  
  .carousel-control.next {
    right: 10;
  }

  .carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust spacing between dots */
    padding-top: 10px; /* Adjust spacing above dots */
    position: absolute;
  bottom: 15px; /* Ensure it is placed correctly */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Centering */
  z-index: 10; /* Above carousel items */
  }
  
  .carousel-indicators span {
    cursor: pointer;
    display: inline-block;
    width: 10px; /* Diameter of the dot */
    height: 10px;
    background-color: white; /* Default color of the dot */
    border-radius: 50%; /* Make the dot circular */
    transition: background-color 0.3s ease; /* Smooth transition for color change */
  }
  
  .carousel-indicators .active {
    background-color: black; /* Color of the active dot */
  }
  
  @media (max-width: 600px) {
    .carousel-item {
      height: 30px;
    }
    .carousel-control {
      width: 30px;
      height: 20px;
      top: 85%;
    }

    .carousel-container{
      height: 30%;
    }
    

  }

  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (max-width: 450px) {
    .carousel-item {
      height: 30px;
    }
    .carousel-control {
      width: 30px;
      height: 20px;
      top: 85%;
    }

    .carousel-container{
      height: 20%;
    }
    

  }

  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }