#registerpage {

    margin-left: 33em;
   
  
  }

  button {
    margin-right: 10px;
    padding: 0 40px;
    margin:15px;
    font-size: large;
  }
  
  h1{
    margin-left: 32em;
    padding-top: 10vh;
    color: black;
    font-size: large;
  }
  
  .container{
    height: 100%;
    
  }
  